.App{
  text-align: center;
}
.img-wrapper img{
  width: 200px;
}
.add-cart img{
  width: 70px;
  position: absolute;
  right: 1%;
  top: 2%;
}
.cart-count{
  position: absolute;
  right: 43px;
  top: 35px;
  z-index: 1;
  color: antiquewhite;
}

.btn{
  margin-left: 10px;
}